.product-box {
  height: 600px;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}
.footer {
  height: 70px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  border: solid 1px red;
}
.footer p {
  margin-bottom: 0;
}
