.product-box {
  height: 800px;
}

.product{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: auto;
}

.footer {
  height: 70px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  
}
.footer p {
  margin-bottom: 0;
}
